.choose {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 174px;
    height: 174px;
    border: 6px solid #ECECEF;
    padding-bottom: 40px;
    &:hover {
        border: 6px solid #00A3E0;
    }
    &-img {
        display: block;
        width: 100%;
    }
    &-title {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}