.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0 50px;

        @media screen and (max-width: 1500px) {
            justify-content: space-between;
          }

    width: 100%;
    }
    height: 110px;
    background: black;
    color: white;
    &-title {
        text-align: center;
    }
    &-brand {
        display: block;
        margin-right: 172px;
        width: auto;
height: 64px;
@media screen and (max-width: 1500px) {
    margin-right: 0;
  }
    }
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

