.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0 50px;
    }
    height: 110px;
    background: black;
    color: white;
    &-title {
        text-align: center;
    }
    &-brand {
        display: block;
        margin-right: 172px;
        width: auto;
height: 64px;
    }
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

