.selected {
    &-img {
        width: auto;
        max-height: 401px;
    }
    &-details {

        display: flex;
        border-top: 1px solid #ECECEF;
        padding-top: 20px;
    }
    &-name {
        text-transform: lowercase!important;
    }
    &-km {
        color: #787B80;
        text-transform: none!important;
    }
}