.slider {
    // border-radius: 12px;
    // box-sizing: content-box;
    // display: inline-block;
    // position: relative;
    // cursor: pointer;
    // touch-action: none;
    // color: #4da3e0;
    // -webkit-tap-highlight-color: transparent;
    // height: 4px;
    // width: 100%;
    padding: 16px 0!important;
    margin-bottom: 0px!important;
    height: 8px!important;
    &-valueLabel {
        font-family: "peugeot_newbold"!important;
        color: #000000!important;
        line-height: 16px!important;
        font-size: 12px!important;
        background-color: transparent!important;
    }
    &-markLabel {
        top: 45px!important;
    }
    &-track {
        border: none;
        color: #00A3E0;
    }
    &-rail {
        color: #ECECEF;
    }
    &-thumb {
        height: 23;
        width: 23;
        background: #ffffff!important;
        border: 2px solid #00A3E0!important;
        &:focus,
        &:hover,
        &.Mui-active,
        &.Mui-focusVisible {
            box-shadow: 'inherit';
        }
        &:before {
            display: 'none';
        }
    }
}